{
  "Token": "TU_DISCORD_BOT_TOKEN_AQUI",
  "PanelTitle": "NiftyOk",
  "PanelHeading": "Ayuda y Apoyo",
  "PanelDescription": "⊹₊˚•.◞୨PRESIONA EL BOTON DE ABAJO PARA CREAR UNA CITA Y RECIBIR ATENCION DE SU PSICOLOGA DE CONFIANZA RUBHY୧‿︵₊˚.⊹",
  "PanelImageUrl": "https://i.imgur.com/K3Z1mP6.png",
  "PanelFooter": "By ˚. NiftyOk ˚.",
  "StaffMemberToMentionId": 918693619253248000
}
